<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rmbank.supervision.dao.ResourceConfigMapper" >
  <resultMap id="BaseResultMap" type="com.rmbank.supervision.model.ResourceConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="xtype" property="xtype" jdbcType="INTEGER" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, xtype, resource
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rmbank.supervision.model.ResourceConfig" >
    insert into t_resource (id, name, xtype, 
      resource)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{xtype,jdbcType=INTEGER}, 
      #{resource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rmbank.supervision.model.ResourceConfig" >
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="xtype != null" >
        xtype,
      </if>
      <if test="resource != null" >
        resource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="xtype != null" >
        #{xtype,jdbcType=INTEGER},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rmbank.supervision.model.ResourceConfig" >
    update t_resource
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="xtype != null" >
        xtype = #{xtype,jdbcType=INTEGER},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rmbank.supervision.model.ResourceConfig" >
    update t_resource
    set name = #{name,jdbcType=VARCHAR},
      xtype = #{xtype,jdbcType=INTEGER},
      resource = #{resource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>