<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmbank.supervision.dao.SystemLogMapper">
  <resultMap id="BaseResultMap" type="com.rmbank.supervision.model.SystemLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="moudle_id" jdbcType="INTEGER" property="moudleId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="row_id" jdbcType="INTEGER" property="rowId" />
    <result column="operation" jdbcType="INTEGER" property="operation" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="org_name" jdbcType="INTEGER" property="orgName" />
    <result column="oper_id" jdbcType="INTEGER" property="operId" />
    <result column="oper_name" jdbcType="INTEGER" property="operName" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    l.id, l.moudle_id, l.table_name, l.row_id, l.operation, l.description, l.org_id, l.oper_id, l.oper_time, 
    l.ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_log l
    where l.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rmbank.supervision.model.SystemLog">
    insert into t_log (id, moudle_id, table_name, 
      row_id, operation, description, 
      org_id, oper_id, oper_time, 
      ip)
    values (#{id,jdbcType=INTEGER}, #{moudleId,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{rowId,jdbcType=INTEGER}, #{operation,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=INTEGER}, #{operId,jdbcType=INTEGER}, #{operTime,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rmbank.supervision.model.SystemLog">
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moudleId != null">
        moudle_id,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="operId != null">
        oper_id,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moudleId != null">
        #{moudleId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=INTEGER},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operId != null">
        #{operId,jdbcType=INTEGER},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rmbank.supervision.model.SystemLog">
    update t_log
    <set>
      <if test="moudleId != null">
        moudle_id = #{moudleId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=INTEGER},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operId != null">
        oper_id = #{operId,jdbcType=INTEGER},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rmbank.supervision.model.SystemLog">
    update t_log
    set moudle_id = #{moudleId,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      row_id = #{rowId,jdbcType=INTEGER},
      operation = #{operation,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      oper_id = #{operId,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update> 
  
  <sql id="sql_query">
  	from t_log as l
  	left join t_user u on l.oper_id = u.id
  	left join t_org o on l.org_id = o.id
  	where 1=1 
  	<if test="moudleId != null and moudleId >0">
  		and l.moudle_id =  #{moudleId,jdbcType=INTEGER}
  	</if>
  	<if test="orgId != null and orgId >0">
  		and l.org_id =  #{orgId,jdbcType=INTEGER}
  	</if>
  	<if test="operation != null and operation >0">
  		and l.operation =  #{operation,jdbcType=INTEGER}
  	</if>
  	 <if test="schBeginTime != null and schEndTime !='' and schBeginTime !='' and schEndTime != null">
     	and l.oper_time  between #{schBeginTime,jdbcType=DATE}  and #{schEndTime,jdbcType=DATE}  
     </if>
	<if test="searchName != null and searchName != ''">
		and (u.name like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
		  or  o.name like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
	      or  l.description like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%')
	      or  l.ip like CONCAT('%',#{searchName,jdbcType=VARCHAR},'%'))
	</if>
  	order by l.oper_time DESC 
  </sql>  
  <select id="getLogList" parameterType="com.rmbank.supervision.model.SystemLog" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" />,u.name as oper_name,o.name as org_name
  	<include refid="sql_query"/>
	<if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit #{pageStart}, #{pageSize}
    </if>
  </select>
  <select id="getLogCount" parameterType="com.rmbank.supervision.model.SystemLog" resultType="java.lang.Integer">
  	select count(*) 
  	<include refid="sql_query"/>
  </select>
  
</mapper>