<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rmbank.supervision.dao.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.rmbank.supervision.model.SystemLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="row_id" property="rowId" jdbcType="INTEGER" />
    <result column="operation" property="operation" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="oper_id" property="operId" jdbcType="INTEGER" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, table_name, row_id, operation, description, org_id, oper_id, oper_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rmbank.supervision.model.SystemLog" >
    insert into t_log (id, table_name, row_id, 
      operation, description, org_id, 
      oper_id, oper_time)
    values (#{id,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, #{rowId,jdbcType=INTEGER}, 
      #{operation,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, 
      #{operId,jdbcType=INTEGER}, #{operTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rmbank.supervision.model.SystemLog" >
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="operId != null" >
        oper_id,
      </if>
      <if test="operTime != null" >
        oper_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null" >
        #{rowId,jdbcType=INTEGER},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=INTEGER},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rmbank.supervision.model.SystemLog" >
    update t_log
    <set >
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null" >
        row_id = #{rowId,jdbcType=INTEGER},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="operId != null" >
        oper_id = #{operId,jdbcType=INTEGER},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rmbank.supervision.model.SystemLog" >
    update t_log
    set table_name = #{tableName,jdbcType=VARCHAR},
      row_id = #{rowId,jdbcType=INTEGER},
      operation = #{operation,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      oper_id = #{operId,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>