@charset "utf-8";
/* ============全局设置库============== */
body { 
    margin: 0;
    padding: 0;
    color: #4c4c4c;
    font-family: Arial, "微软雅黑", "宋体" !important;
    font-size: 12px;
    /*overflow: hidden;*/
}
input{font-family:Arial, "微软雅黑", "宋体" !important;}
ul{margin:0; padding:0;}
li{list-style-type:none;}
i{display:block;} 
img{border:0;}
em{font-style:normal;}
a, body, div, form, html, li, ol, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
a:link{color:#4a9bd3;text-decoration:none;}
a:visited{color:#4a9bd3;}
/* a:hover{color:#FF6336;} */
a:hover{color:#0000ff;} 
.cl{clear:both;}
.fl{float:left !important; }
.fr{float:right !important;}
.fr-config{
	float:right !important;
	margin-top: -20px;
    margin-bottom: 10px;
    margin-right: 140px;
}
.fno{float:none !important;}
.fit{width:100% !important;}
.no-border{border:none !important;}
.txt-center{text-align:center;}
.txt-right{text-align:right;}
.img-center{vertical-align:middle;}
.hide{display:none;}
.show{display:block !important;}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #000;
}
h1{
	    font-size: 24px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* ============框架============== */
#main{width:100%;height:auto;margin:0 auto;}
#header{width:100%;height:90px;margin:0 auto;background-color:#1894f4;font-size:16px;min-width: 1024px;}
#adminheader{width:100%;height:95px;margin:0 auto;background-color:#00A2CA;font-size:16px;}
#content{width:100%;height:auto;margin:0 auto; min-width: 1024px;}
#footer{width:100%;height:29px;background-color:#1894f4;min-width: 1024px;    text-align: center;
    line-height: 29px; 
    color: white;}   
#treeList{width:100%;height:100%;}
.footer-info{float:left;width:100%;height:28px;line-height:28px;color:#fff;font-size:12px;text-align:center;margin:0;margin-top:1px;padding:0;}
.con-left{float:left;width:160px;height:100%;background-color:#3A464E;border-top:0px;}
/*.con-rights{padding:0;margin-left:180px;border-top:1px solid #C3C6CB;}*/  
.con-rights{padding:0; border-top:0px;   margin-left: 110px;}
.con-right{padding:5px 5px 0 5px; border-top:0px;  background-color: #FFFFFF;float:left;}
.con-right1{padding:5px 5px 0 5px; border-top:0px;  background-color: #FFFFFF;float:left; }
.head-tool-bar{width:100%;height:25px;background-image: initial;background-position-x: initial;background-position-y: initial;background-size: initial; background-repeat-x: initial;background-repeat-y: initial;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: #eb2b42;}


/*************广告位**************/
#slider-container{position:relative;clear:both;height:480px;width:100%;margin:0 auto;} 
#shadow-img-slider{height:5px;width:100%;position:absolute;top:0;left:0;background:url(../images/shadow-img-slider.png) repeat-x;z-index:30;}
.box_skitter_large {width:100%;height:480px;}
.label_skitter{bottom:20px !important;left:17% !important;padding:0px 20px 20px 20px;background:url(../images/opacity-slider-text.png) repeat;}
.label_skitter h3{margin-bottom:10px;color:#FFFF1E;height:25px;line-height:25px;}
